
<mat-card>
  
  <div class="about">
  <h2 >About Us </h2>



  <p>
   Good tender shows us the full information  about the public tenders schedules around the globe.Building contents in the fields of Education,Electricity,Emergency Servece;

   Fire Service,Gas and Oil,Health Care,Infrastruture,Law Enforcement,Police Service,Public Transit,Social Service and Waste Management.

  </p>



<div class="contact">
  <h3>Contact Us</h3>
<div class="form">


    
<form class="example-form" [formGroup]="profileForm" method="GET" action="#">

  Name:
    <mat-form-field class="example-full-width">
    
      <input matInput formControlName="name"  >
    </mat-form-field>
       <br>
       Email:
    <mat-form-field class="example-full-width">
    
      <input  type="email" matInput formControlName="email" >
    </mat-form-field>
       <br>

      Message:
    <mat-form-field class="example-full-width">
      <textarea matInput  formControlName="message"></textarea>
    </mat-form-field>

    
      
      
      
      <button mat-button color="warn" type="submit">Send</button>
      
      
  
    
  </form>

</div>
</div>





 
</div>



</mat-card>


  


    
    
  




