<div class="container-fliud">
  <div class="row " id="banner">

    <div class="wrapper">

    <div class="row">
    <div class=" col-md-2 col-sm-12  layer layer1"></div>

    
    <div class=" col-md-2 col-sm-12 offset-md-2 layer layer3"></div>
    
    <div class=" col-md-2 col-sm-12  offset-md-2 layer layer5"></div>
    
    
    </div>
    <div class="row">
        <div class=" col-md-2 col-sm-12  offset-md-2 layer layer2"></div>
        <div class=" col-md-2 col-sm-12 offset-md-2 layer layer4"></div>
        <div class=" col-md-2 col-sm-12 offset-md-2 layer layer6"></div>
    </div>
<div class="heading text-center">





    <h1>

Find new sales in the public sector

    </h1>

    <p>

      Millions of public tenders and building contents all over the world
    </p>


    <button  class="btn btn-warning">Try it out</button>

    </div>


    <div class="row">
        <div class=" col-md-2 col-sm-12  layer layer7"></div>
    
        
        <div class=" col-md-2 col-sm-12  offset-md-2 layer layer9"></div>
        
        <div class=" col-md-2 col-sm-12  offset-md-2 layer layer11"></div>
        
        
        </div>

        <div class="row">

            <div class=" col-md-2 col-sm-12   offset-md-2 layer layer8"></div>
            <div class=" col-md-2 col-sm-12   offset-md-2 layer layer10"></div>
            <div class=" col-md-2 col-sm-12   offset-md-2 layer layer12"></div>
        </div>
   </div>
  </div>
</div>
